:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --link-color: #ffffff;
  --logo-color: #000;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

body {
  background-color: var(--link-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  text-decoration: none;
  display: block;
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo > span {
  color: var(--accent-color);
}

.btn {
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn-span {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer .btn {
    margin: 0;
  }
}

.modal .btn {
  margin: 0 auto;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
  }
}

@media screen and (max-width: 767px) {
  .page-header__list {
    display: none;
  }
  .page-header__contacts {
    display: none;
  }
  .page-header__container {
    padding: 10px 15px;
  }
}

.page-header {
  position: relative;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  height: 453px;
  padding-bottom: 60px;
  transform: translateX(-50%) translateY(-100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
}

.mobile-nav__item {
  margin-bottom: 40px;
}

.mobile-nav__item:last-child {
  margin-bottom: 0px;
}

.mobile-nav__item.current {
  margin-bottom: 52px;
}

.mobile-nav__item:last-child {
  margin-bottom: 60px;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-nav__link,
.mobile-contacts-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__link:hover, .mobile-nav__link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: var(--accent-color);
}

.mobile-contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.mobile-menu-nav,
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wraper {
  position: relative;
}

.burger-btn,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon,
.mobile-close-btn:hover .mobile-close-icon,
.mobile-close-btn:focus .mobile-close-icon {
  fill: var(--accent-color);
}

.mobile-menu.is-open .mobile-close-btn {
  display: block;
}

.burger-icon,
.mobile-close-icon {
  display: block;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 60px;
  border-bottom: 1px solid #ececec;
}

.current-page {
  position: relative;
}

.current-page::after {
  position: absolute;
  top: 29px;
  left: 0px;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .burger-btn {
    display: none;
  }
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
  .page-header__container {
    display: flex;
    align-items: center;
  }
  .page-header__nav-site {
    display: flex;
  }
  .page-header__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .page-header__list .page-header__item:not(:last-child) {
    margin-right: 50px;
  }
  .page-header__link {
    display: block;
  }
  .current {
    position: relative;
  }
  .current::after {
    position: absolute;
    top: 45px;
    left: 0px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .page-header__contacts .link {
    display: flex;
    align-items: center;
  }
  .site-nav .link {
    display: block;
  }
  .contacts-link {
    color: var(--primary-text-color);
  }
  .address .link {
    color: inherit;
  }
  .address .link:hover,
  .address .link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contacts .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .link.contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .page-header__contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

.contacts-icon-envelope {
  display: block;
  height: 10px;
  width: 14px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon-smartphone {
  display: block;
  height: 14px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}

.link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: flex;
  }
  .page-header__contacts .item + .item {
    margin-left: 50px;
  }
  .page-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .page-header__list {
    margin-left: 93px;
  }
}

.filters {
  display: flex;
}

.filters-item {
  margin-right: 8px;
}

.filters-btn {
  font-weight: 500;
  line-height: 1.63em;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: unset;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover, .filters-btn:focus {
  color: var(--link-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .filters {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .filters-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filters-item {
    margin-bottom: 0;
  }
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .projects-list-item {
    width: 100%;
    max-width: 450px;
  }
  .projects-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects-list-item {
  border: 1px solid #eeeeee;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.subtitle {
  line-height: 1.88em;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.wraper {
  padding: 20px 24px;
}

.projsects-list-link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.projsects-list-link:hover, .projsects-list-link:focus {
  color: var(--primary-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.thumb-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 100%));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projsects-list-link:hover .thumb-overlay,
.projsects-list-link:focus .thumb-overlay {
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .projects-list-item {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    width: 370px;
  }
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer-link {
  display: inline-block;
  color: var(--link-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-list {
    margin-bottom: 60px;
  }
}

.footer-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-link-address,
.footer-link-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-link-contact {
  color: rgba(255, 255, 255, 0.6);
}

.social-container {
  margin-bottom: 60px;
}

.social-container-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list .footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: block;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  display: block;
  fill: #fff;
}

.input-mail {
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--link-color);
}

@media screen and (min-width: 480px) {
  .input-mail {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-container-address {
    margin-right: 165px;
  }
  .social-container {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: stretch;
    flex-wrap: nowrap;
    text-align: left;
  }
  .footer-container-address {
    margin-right: 70px;
  }
  .social-container {
    padding-top: 12px;
    margin-bottom: 0;
  }
  .footer-form {
    margin-left: auto;
  }
  .form-field {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    padding-top: 12px;
  }
  .input-mail {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover > svg,
.modal-btn:focus > svg {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input {
  width: 100%;
  height: 40px;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  outline: none;
  border-color: var(--accent-color);
  border-radius: 4px;
}

.modal-form-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.text-area {
  width: 370px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
  outline: none;
  border-color: var(--accent-color);
  border-radius: 4px;
}

.text-area::placeholder {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-text {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-label-policy > a {
  color: var(--accent-color);
}

.modal-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-label-textarea {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-checkbox:checked + .modal-form-label-policy::before {
  background-color: var(--accent-color);
  background-image: url(../img/modal/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal-checkbox:focus + .modal-form-label-policy::before {
  border-color: var(--accent-color);
}

.modal-form-label-policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-label-policy::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .text-area {
    width: 448px;
    height: 120px;
  }
  .modal-form-label-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
  }
}
/*# sourceMappingURL=portfolio.css.map */