.customers {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    &-item:not(:last-child) {
      padding-right: 30px;
    }
  }
}

.customers-link-icon {
  display: block;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-item-link:hover &,
  .customers-item-link:focus & {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}
