.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &-container {
    display: flex;
  }

  &-link {
    display: inline-block;
    color: var(--link-color);
    margin-bottom: 20px;
  }
}

.footer-container-address {
  margin-right: 70px;
  width: 231px;
}

.footer-list .footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-address {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-link-contact {
  color: rgba(255, 255, 255, 0.6);
}

.social-container {
  padding-top: 12px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list .footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: block;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-icon {
  display: block;
  fill: #fff;
}

.social-container-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
  margin-bottom: 20px;
}
