.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-list-item {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
}

.title {
  @include font(700, 18px, 36px);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.wraper {
  padding: 20px 24px;
}

.subtitle {
  line-height: 1.88em;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.projsects-list-link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  &:hover,
  &:focus {
    color: var(--primary-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-list-image {
  width: 100%;
}

/* Оверлей */

.thumb {
  position: relative;
  overflow: hidden;

  &-text {
    @include font(400, 18px, 28px);
    letter-spacing: 0.03em;
    color: var(--link-color);
  }
}

.thumb-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 100%));

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projsects-list-link:hover &,
  .projsects-list-link:focus & {
    transform: translate(-50%, -50%);
  }
}
