.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--link-color);
  }
}
