.section-title {
  margin-bottom: 30px;
  @include font($fw: 700, $fs: 28px, $lh: 33px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}
